<% provide(:title, 'Update Subject') %>
<h1>Update Subject</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@subject) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p> Name </p>
      <%= f.text_field :name %>

      <p> Description </p>
      <%= f.text_field :description %>
      
      <p> Task </p>
      <aside class="span4">
        <%= f.fields_for :tasks do |builder| %>
          <div>
            <%= builder.text_field :name, placeholder: "Compose name new task..." %>
          </div>
        <% end %>
      </aside>
      
      <%= f.submit "Update subject", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
